body {
  background-image: "https://media.istockphoto.com/id/871475484/photo/empty-hockey-net-on-frozen-lake.jpg?s=612x612&w=0&k=20&c=ZUeN1rIa3K5byVBqbY_BcFTiiWNqx4-MciadYXXvYAc=";
  background-size: cover;
}

footer {
  display: flex;
  justify-content: center;
}

.content-container {
  min-height: calc(100vh - 50px);
}

.footer--pin {
  position: relative;
  right: 0;
  bottom: 0;
}