body {
  background-image: url('https://e0.pxfuel.com/wallpapers/655/172/desktop-wallpaper-nhl-with-nhloutdoors-at-lake-tahoe-beginning-on-saturday-we-re-celebrating-pond-hockey-all-week-long-exhibit-a.jpg');
  background-size: cover;
}

footer {
  display: flex;
  justify-content: center;
}

.content-container {
  min-height: calc(100vh - 50px);
}

.footer--pin {
  position: relative;
  right: 0;
  bottom: 0;
}